<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="script.js"></script>
</head>
<body>
    

    <main class="container">
        <!----Colunas para Escolha entre Tela de Colaboradores e Tela de Workshop-->
        <section class="coluna">
          <div class="quadrado">
            <div class="titulo">
              <h1>Meu Projeto Workshop</h1>
            </div>
  
            <!---Colaboradores - Workshop-->
            <div class="escolha">
              <!---Opção Colaboradores-->
              <div class="opcao">
                <a href="./indexColaboradores.html">Colaboradores</a>
              </div>
  
              <!----Opção Workshop---->
              <div class="opcao">
                <a href="./indexWorkshop.html">Workshop</a>
              </div>
            </div>
          </div>
        </section>
  
        <!---Section para Demonstração das Listas-->
        <section class="lista">
          <div class="listaContainer">
            <h1>Workshop</h1>
  
            <!--Lista dos Workshops-->
            <div class="listaColaboradores">
  
              <!---Tabela de Workshops-->
              <table id="tabelaWorkshop">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data de Realização</th>
                  </tr>
                </thead>
              </table>
              
              <div class="workshop-detalhes"></div>
            </div>
          </div>
        </section>
      </main>


</body>
</html>